<div class='cards-container'>
  <% cards&.each do |card| %>
    <% next if card.nil? %>

    <div class='card'>
      <!-- Would be a good idea to use a placeholder image when API doesn't return a image -->
      <% if card['image_uris'].present? %>
        <%= image_tag(card['image_uris']['border_crop'], Deck::IMAGE_RATIO) %>
      <% end %>
      <div class='card-elem'>
        <div class='card-header'>
          <div class='card-header-title'>
            <a href="<%= card['scryfall_uri'] %>">
              <%= "#{card['name']} (#{card['lang']})" %>
            </a>
          </div>
          <div class='card-header-actions'>
            
          </div>
        </div>
        <div class='card-body'>
          
        </div>
      </div>
    </div>
  <% end %>  
</div>
