/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require freya
 *= require flags
 *= require_tree .
 *= require_self
 */

 input[type="color"] {
    border: none;
    background-color: transparent;
    padding: 4px;
    height: 19px;
}

.add_fields, .remove_fields {
  display: inline-block;
  padding: 8px 0px;
}

.active:hover {
  background-color: #dddddd;
}

a#current-page {
  color: orangered;
  background-color: #cccccc;
}

.header {
  background-color: black;
  background-image: linear-gradient(135deg, rgba(241, 18, 18, 0.3), transparent)
}

.header__item.header__item--logo img {
  height: 69px;
  margin-top: -12px;
}

html .btn {
  background-color: rgba(206, 76, 1, 0.78);
}

html .btn:hover {
  background-color: rgba(148, 54, 0, 0.78);
}
