.auth {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: 1;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.auth:before {
  content: '';
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6;
  filter: blur(100px);
}
.auth__box {
  position: absolute;
  top: 35%;
  height: 340px;
  margin-top: -180px;
  left: 50%;
  width: 360px;
  margin-left: -180px;
  z-index: 2;
  text-align: center;
  color: white;
}
.auth__logo {
  width: 310px;
  height: 95px;
  margin-bottom: 15px;
}
.auth input[type=email], .auth input[type=password] {
  border: 0;
  line-height: 48px;
  height: 48px;
  padding: 0 15px;
}
.auth input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
}
.auth__links {
  text-align: right;
  font-size: 13px;
  margin-top: 5px;

  a {
    color: #EEE;

    &:hover {
      color: white;
      text-decoration: none;
    }
  }
}

@media (min-width: 960px) {
  .auth-body {
    overflow: hidden;
  }
}

label {
  color: white
}

.devise-page {
  color: rgb(255, 255, 254)
}